<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.b0nk.derpDNS</string>
		<key>UserName</key>
		<string>srm</string>
		<key>ProgramArguments</key>
			<array>
				<string>/Users/srm/dev/go/derpDNS/derpDNS</string>
				<string>/Users/srm/dev/go/derpDNS/derpDNS.conf</string>
			</array>
			<key>RunAtLoad</key>
			<true/>
			<key>StartInterval</key>
			<integer>3600</integer>
			<key>StandardErrorPath</key>
			<string>/tmp/derpDNS.log</string>
        </dict>
</plist>